<launch>

  <!-- Non-standard joint names -->
  <rosparam command="load" file="$(find jaco_moveit)/config/joint_names.yaml"/>

  <!-- Connect to a simulated or real robot -->
  <arg name="sim" default="true" />
  <param name="use_sim_time" value="$(arg sim)" />
  <arg name="rviz" default="true" />

  <include file="$(find jaco_moveit)/launch/planning_context.launch" >
    <arg name="load_robot_description" value="true" />
  </include>

  <!-- TODO real robot interface: robot_state, motion_interface, and joint_trajectory_action nodes -->
  <group unless="$(arg sim)">
  </group>

  <!-- publish the robot state (tf transforms) -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <include file="$(find jaco_moveit)/launch/move_group.launch">
    <arg name="publish_monitored_planning_scene" value="true" />
  </include>

  <include if="$(arg rviz)" file="$(find jaco_moveit)/launch/moveit_rviz.launch">
    <arg name="config" value="true"/>
  </include>

</launch>
